:root{
    --color-primary: #1458c7;
    --color-primary-dark:#072e74;
    --color-primary-lighter:#00bbff;
    --color-white:#fff;
    --color-white-light:#ddd;
    --color-white-lighter:#eee;
    --color-grey-dark:#222;
    --color-grey-light:#333;
    --color-grey-lighter:#777;
}
$color-pri:#1458c7;